<main>
  <section style="display: flex; gap: 200px; justify-content: space-evenly">
    <div class="align-self-center">
      <img class="cv-photo" src="assets/Default_pfp.jpg" alt="" />
    </div>
    <div>
      <h1>Leonardo Gomes Alencar</h1>
      <p>Brasileiro, Solteiro, 19 anos</p>
      <p>Celular: (11) 97950-9925</p>
      <p>E-mail: leonardoalencar.contato&#64;gmail.com</p>
      <p>GitHub: <a href="https://github.com/leogalencar">https://github.com/leogalencar</a></p>
      <p>Linkedin: <a href="https://www.linkedin.com/in/leonardo-galencar">https://www.linkedin.com/in/leonardo-galencar</a>
      </p>
    </div>
  </section>
  <section>
    <h1>01 - OBJETIVO</h1>
    <hr />
    <p>
      Busco uma posição desafiadora em Desenvolvimento full stack onde eu possa
      aplicar e aprimorar minhas habilidades técnicas de Python, C, C#, JS e/ou SQL, contribuindo para o
      desenvolvimento de soluções eficientes e inovadoras.
    </p>
  </section>
  <section>
    <h1>02 - FORMAÇÃO</h1>
    <hr />
    <ul>
      <li>
        <p><b>Tecnólogo em Análise e Desenvolvimento de Sistemas</b></p>
        <p>Fatec Dom Amaury Castanho, Itu - SP</p>
        <p>Ano de Conclusão: 2025</p>
      </li>
      <li>
        <p><b>Técnico em Desenvolvimento de Sistemas</b></p>
        <p>Escola Técnica Estadual, Itu - SP</p>
        <p>Ano de Conclusão: 2022</p>
      </li>
    </ul>
  </section>
  <section>
    <h1>03 - HABILIDADES</h1>
    <hr />
    <table class="skills">
      <tbody>
        <tr>
          <th>
            Linguagens de Programação
          </th>
          <td>
            Python
          </td>
          <td>
            C
          </td>
          <td>
            C#
          </td>
          <td>
            JavaScript
          </td>
          <td>
            R
          </td>
          <td>
            PHP
          </td>
        </tr>
        <tr>
          <th>
            Tecnologias
          </th>
          <td>
            Flask
          </td>
          <td>
            Bootstrap
          </td>
          <td>
            MySQL
          </td>
          <td>
            SQLite
          </td>
          <td>
            Git
          </td>
          <td>
            Linux
          </td>
        </tr>
        <tr>
          <th>
            Idiomas
          </th>
          <td>
            Inglês Avançado
          </td>
        </tr>
        <tr>
          <th>
            Métodos Ágeis
          </th>
          <td>
            Scrum
          </td>
          <td>
            Kanban
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h1>04 - PROJETOS</h1>
    <hr />
    <ul>
      <li>
        <p><b>CS50MAIL.</b> Foi construída uma ferramenta web para gerenciar e-mails internamente dentro de um sistema
          usando
          Flask, Python, JavaScript, Bootstrap, HTML e CSS. <a href="https://mrdelta.pythonanywhere.com/">(Teste
            aqui)</a> <a href="https://github.com/leogalencar/cs50mail">(Link do projeto no GitHub)</a></p>
      </li>
      <li>
        <p><b>Keyboard Blocker.</b> Foi construída uma aplicação que bloqueia todas as teclas do teclado para diversos
          fins, como
          limpa -lo ou remover pequenas impurezas sem executar comandos na o intencionados no computador, usando C#. <a
            href="https://github.com/leogalencar/KeyboardBlocker">(Link do projeto no GitHub)</a></p>
      </li>
      <li>
        <p><b>TCC – Site para uma escola técnica.</b> Foi construído um novo website responsivo em Bootstrap para a Etec
          de Itu,
          em que foram criados recursos de administrador integrado a um banco de dados MySQL, com cargos, sistema de
          CRUD e manutenção do site. <a href="https://github.com/leogalencar/tccetec2022">(Link do projeto no
            GitHub)</a></p>
      </li>
    </ul>
  </section>
  <section>
    <h1>05 - CURSOS EXTRA-CURRICULARES</h1>
    <hr />
    <ul>
      <li>Curso e certificado de Ana lise de Dados – Google (2023)</li>
      <li>Curso CS50x – Introduction to Computer Science – Harvard (2023)</li>
    </ul>
  </section>
</main>

<router-outlet />
